/* styles.css */
.inputBtn {
  margin-left: 500px;
}

.inputBtn input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #f4b790;
  border-radius: 4px;
}

.inputBtn button {
  padding: 8px 12px;
  background-color: #038a37;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Optional: Apply hover effect on the button */
.inputBtn button:hover {
  background-color: #04848a;
}

.tabItem{
    margin-left: 500px;
    margin-top: 15px;
    border: 1px solid #f4b790;
    padding: 20px;
}
